@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: unset;
  padding: unset;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}